*{
	box-sizing: border-box;
}
body, html{
 position: relative;
 overflow: hidden;
 margin: 0;
 height:100%;
}

.moveCircle {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}